@model Modelos.GestionTareas.Proyecto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Total Tareas en este Proyecto: @(Model.Usuarios.Count())
        </dt>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tareas
                </th>
                <th>
                    Usuarios
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.Usuarios)
            {
                <tr>
                    <td>

                        <a asp-action="Details" asp-controller="Usuarios" asp-route-id="@usuario.Id">@usuario.Nombre</a>
                    </td>
                    

                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
