@model Modelos.GestionTareas.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Proyectos
                </th>
                <th>
                    ProyectosTareas
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model.Tareas)
            {
                <tr>
                    <td>@tarea.Proyecto?.Nombre</td>
                    <td>
                        <a asp-action="Details" asp-controller="Tareas" asp-route-id="@tarea.Id">
                            @tarea.ProyectoId - @tarea.Nombre
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>

